@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Work+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans antialiased text-gray-300 bg-gray-850;
}

a {
    @apply text-purple-400 hover:text-purple-300 focus:underline;
    @apply transition duration-300 ease-in;
}

.prose strong {
    @apply text-blue-300 font-bold !important;
}

.prose code {
    color: #9c8a9e !important;
}
